.main__login {
    background-color: #ffffff;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: relative;
}
.login__login_form {

    min-width: 15%;
    aspect-ratio: 1/1;
    background-color: #93D866;
    border-radius: 10%;
    border: 2px solid #0B6600;
    padding: 2em;
    row-gap: 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.login__login_form-error {
    border: 2px solid #78002e;
}

.login_form__error {
    position: absolute;
    color: #780000;
}

.bg-image {
    position: absolute;
    z-index: 0;
    opacity: 0.6;
    pointer-events: none;
}

.bg-image--1 {
    top: 5%;
    right: 60%;
    transform: rotate(15deg);
    transform: scaleX(-1);
}

.bg-image--2 {
    top: 50%;
    left: 70%;
    transform: rotate(15deg);
}

.bg-image--3 {
    top: 65%;
    right: 70%;
    transform: rotate(15deg);
    transform: scaleX(-1);
}

.btn-reload {
    border-color: #e69823;
    background-color: #e69823;
}

.btn-reload:hover {
    border-color: #d88e1f;
    background-color: #d88e1f;
}