.body__footer {
    min-height: 10vh;
    background-color: #93D866;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 3px solid #0B6600;
}

.footer__div_logo {

}

.footer__div_info {

}